#sidebar,
.btn-primary,
.nav-tabs>li:not(.title-tab):after,
#timeline .post-content .post-date span{
    background: #c84088;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:active,
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus{
    color: #c84088;
    border-color: #c84088;
}
.nav-tabs>li>a:hover{
    color: #c84088;
}
.dataTable tbody tr.active td, 
.dataTable tbody tr.active:hover td{
    background: #c84088 !important;
}
.select2-results .select2-highlighted{
    background-color: #c84088;
}
.datepicker table tr td.active.active,
.datepicker table tr td.active.active:hover,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.active:hover, 
.datepicker table tr td span.active:hover.active:hover, 
.list-group-item.active,
.list-group-item.active:focus, 
.list-group-item.active:hover{
    background: #c84088;
    border-color: #c84088;
}


.btn-primary:hover,
.btn-primary:active, 
.btn-primary:focus,
#sidebar-menu li ul > li > a,
#sidebar-menu li:hover,
#sidebar-menu > li.active > a,
#sidebar-menu li a:hover
{
    background: #b81e70; 
    color: #FFF;
}
#sidebar-menu .devider{
    border-color: #b81e70
}

a {
    color: #b81e70;
}

.custom-color {
    color: #b81e70 !important;
}

.bg-success{
    background: #b81e70;
}


#sidebar-menu li a,
#sidebar-menu li.expand > a:before{
    color: #fff;
}
#sidebar-menu > li.active > a{
    border-color: #fff;
}
#sidebar-menu > li > ul > li > a:hover{
    background: #cf3c89;
    color: #fff;
}


a:hover,
a:focus,
a:active{
    color: #d93089;
}
.bg-dark-success{
    background: #d93089; 
}

.atwho-view .cur, 
.note-hint-group .active, 
.note-hint-item:hover{
    background-color: #c84088 !important;
}
.label-material{background-color: #d93089 !important;}
