@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('fonts/opensans/opensans-light.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('fonts/opensans/opensans.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('fonts/opensans/opensans-bold.woff') format('woff');
}

/*
*reset
**/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    /*vertical-align: baseline;*/
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    word-wrap: break-word;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

html{
    height: 100%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height:100%;
    line-height: 22px;
    
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

b, h1, h2, h3, h4, h5, h6{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

fieldset{
    border: 1px solid #ccc;
    padding: 18px 20px;
}

fieldset legend{
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.clear:after{
    clear: both;
    display: table;
    content:'';
}

/*
*layout
*/
.wrapper{
    max-width: 915px;
    margin: 0 auto;
}


body{
    background: #e5e5e5;
}

header{
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    height: 50px;
    padding-top: 12px;
    background: #fff;
    text-align: right;
    box-shadow: 1px 1px 8px #E4E6E7 !important;
    border-bottom: 1px solid #D0D4DD !important;
}

header .button{
    padding: 5px 10px;
    padding-top: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

header .button:hover{
    cursor: pointer;
}

header .button i{
    font-size: 22px;
}

.container{
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 70px;
}

.paper{
    aspect-ratio: auto 1190 / 1683;
    background:  #fff;
    padding: 28px 32px;
}

.paper .header{
    margin-bottom: 8px;
}

.paper .header .left{
    float: left;
    width: 55%;
}

.paper .header .left .logo{
    width: 300px;
    height: 100px;
    text-align: left;
}

.paper .header .left .logo img{
    display: block;
    height: 80px;
    width: auto;
}

.paper .header .buyer{
    margin-top: 8px;
}

.paper .header .right{
    float: right;
    width: 44%;
    padding-top: 30px;
}

.paper .header .right > div{
    padding-left: 4px;
}

.paper .header .right .docname{
    font-size: 2em;
    text-align: center;
    margin-bottom: 12px;
}

.paper .header .right .docinfo{
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    padding-top: 8px;
    padding-bottom: 8px;
}

.paper .header .right .buyercontact{
    margin-top: 8px;
}


.paper .body .items table{
    table-layout: fixed;
}

.paper .body .items td{
    padding: 6px;
    line-height: 18px;
    vertical-align: top;
}

.paper .body .items thead td{
    font-weight: bold;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    padding-top: 8px;
    padding-bottom: 8px;
}


.paper .body .items tbody td{
    border-bottom: 1px solid #cecece;
}

.paper .body .items tbody .product_name{
    font-weight: bold;
    display: block;
}

.paper .body .items tbody .product_description{
    display: block;
}

.paper .summary{
    margin-top: 22px;
}

.paper .summary .total_in_text{
    float: left;
    width: calc(100% - 300px);
}

.paper .summary .total_in_text span{
    position: relative;
    top: 30px;
}

.paper .summary .total_all{
    float: right;
    width: 300px;
}

.paper .summary .total_all .row:after{
    clear: both;
    display: table;
    content: '';
}

.paper .summary .total_all .c1{
    float: left;
    width: 150px;
    text-align: right;
}

.paper .summary .total_all .c2{
    float: right;
    width: 150px;
    text-align: right;
    line-height: 26px;
}

.paper .summary .total_all .c2 span:nth-child(2){
    margin-left: 4px;
}

.paper .summary .total_all .wht{
    margin-top: 8px;
    padding-top: 10px;
    border-top: 1px solid #cecece;
}

.paper .footer .remark{
    min-height: 80px;
}

.paper .footer .signature .c1{
    width: 40%;
    float: left;
    text-align: center;
}

.paper .footer .signature .c2{
    width: 40%;
    float: right;
    text-align: center;
}

.paper .footer .signature .name{
    float: left;
    width: 50%;
    text-align: center;
}

.paper .footer .signature .date{
    float: right;
    width: 50%;
    text-align: center;
}

.paper .footer .signature .l1,
.paper .footer .signature .l2{
    display: block;
    margin: 0 auto;
    width: 120px;
}

.paper .footer .signature .l1{
    display: block;
    position: relative;
    height: 60px;
    border-bottom: 1px solid #000;
    text-align: center;
    margin-bottom: 4px;
}

footer{
    position: fixed;
    display: block;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    text-align: center;
    box-shadow: 1px 1px 8px #E4E6E7;
    border-top: 1px solid #D0D4DD;
}

@media print {
    @page {
        /*margin: 22px 28px;*/
        /*margin-bottom: 12px;*/
        /*margin-top: 22px;
        margin-left: 28px;
        margin-right: 28px;*/
        padding: 0;
        margin: 0;
    }

    body{
        block-size: fit-content;
        background: #fff;
    }

    header{
        display: none;
    }

    .container{
        display: block;
        overflow: visible;
        padding: 0;
        margin: 0;
    }

    footer{
        display: none;
    }
}