.scrollable-page{
    width: 100%;
    overflow: scroll;
}

.clear:after{
    clear: both;
    display: table;
    content:'';
}

#dcontroller{
    width: 1000px;
    margin: auto;
    margin-bottom: 14px;
}

#dcontroller h1{
    /*padding-top: 18px;
    padding-bottom: 0;*/
}

#dcontroller .page-title{
    padding-top: 8px;
    padding-bottom: 8px;
}

#printd{
    position: relative;
    background: #fff;
    display: block;
    min-height: 1100px;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 80px;
    padding: 32px;
    padding-bottom: 320px;
}

#printd p{
    margin: 0;
}

#printd .docheader .l{
    float: left;
    width: 49%;
}

#printd .docheader .l .logo{
    width: 300px;
    height: 100px;
    text-align: left;
}

#printd .docheader .l .logo img{
    display: block;
    height: 80px;
    width: auto;
}

#printd .docheader .l .logo .nologo{
    height: 80px;
    width: 80px;
}

#printd .docheader .l .customer{
    margin-top: 12px;
}

#printd .docheader .r{
    float: right;
    width: 49%;
    line-height: 22px;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
}

#printd .docheader .r h1{
    font-size: 1.8em;
    text-align: center;
    margin: 0;
}

#printd .docheader .r table td:nth-child(1){
    width: 100px;
    padding-left: 4px;
}

#printd .docheader .r table td:nth-child(2){
    width: calc(100% - 100px);
}

#printd .docheader .r .about_company{
    border-top: 1px solid #cecece;
    padding-top: 12px;
    margin-top: 12px;
}

#printd .docheader .r .about_customer{
    border-top: 1px solid #cecece;
    margin-top: 12px;
    padding-top: 12px;
}

#printd .docheader .r .document_name{
    font-size: 2em;
    line-height: 30px;
}

#printd .docheader .r .document_name .note{
    font-size: 0.61em;
    display: block;
    line-height: 20px;
}

#printd .docheader .company_name,
#printd .docheader .customer_name{
    font-weight: bold;
}

#printd .moreinfo{
    margin-top: 16px;
    margin-bottom: 12px;
}

#printd .moreinfo .remark select{
    width: 800px;
    border: 1px solid #cecece;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 4px;
    padding-right: 4px;
}

#printd .docitem{
    min-height: 600px;
    margin-top:12px;
}

#printd .docitem td.notfound{
    display: table-cell;
    padding-top: 20px;
    padding-bottom: 20px;
}

#printd .docitem table{
    width: 100%;
    table-layout: fixed;
}

#printd .docitem tr td{
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    vertical-align: top;
    padding: 8px;
}

#printd .docitem td:nth-child(1){
    width: 30px;
    text-align: left;
}

#printd .docitem td:nth-child(2){
    max-width: calc(100% - 550px);
    text-align: left;
}

#printd .docitem td:nth-child(3){
    width: 110px;
    text-align: right;
}

#printd .docitem td:nth-child(4){
    width: 110px;
    text-align: right;
}

#printd .docitem td:nth-child(5){
    width: 110px;
    text-align: right;
}

#printd .docitem td:nth-child(6){
    width: 110px;
    text-align: right;
}

#printd .docitem td:last-child{
    width: 80px;
    text-align: center;
}

#printd .docitem td .desc1{
    font-weight: bold;
}

#printd .docitem td.edititem{
    padding-left: 0;
    padding-right: 0;
}

#printd .docitem td.edititem a{
    cursor: pointer;
    min-width: 28px;
    background: #fff;
    color: #a1a3a5;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    vertical-align: central;
    text-align: center;
    margin: 0 2px;
    padding: 4px 0px;
    border: 1px solid #e2e7f1;
}

#printd .docitem td.edititem a.edit:hover{
    background: #2ac2d4;
    color: #fff;
}

#printd .docitem td.edititem a.delete:hover{
    background: #d9534f;
    color: #fff;
}

#printd .docitem thead tr td{
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
}

#printd .docitem tfoot td{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border: 0;
}

#printd .docitem tfoot td.summary{
    vertical-align: middle;
}

#printd .docitem tfoot input[type="text"],
#printd .docitem tfoot input[type="text"]:focus{
    outline: none;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: right;
    height: 22px;
    border: 0;
}

#printd .docitem tfoot td #total_in_text{
    text-align: left;
    width: 380px;
    margin-top: 60px;
}

#printd .docitem tfoot td.summary{
    text-align: right;
}

#printd .docitem tfoot td.summary p{
    line-height: 34px;
    display: inline-block;
}

#printd .docitem tfoot td.summary i{
    font-style: normal;
}

#printd .docitem tfoot td.summary span{
    display: inline-block;
}

#printd .docitem tfoot td.summary span.c1{
    text-align: left;
    width: 200px;
}

#printd .docitem tfoot td.summary #discount_percent,
#printd .docitem tfoot td.summary #discount_type,
#printd .docitem tfoot td.summary #wht_percent{
    width: 48px;
    height: 26px;
    line-height: 18px;
    border: 1px solid #cecece;
    padding: 0 4px;
    border-radius: 4px;
    outline: none;
}

#printd .docitem tfoot td.summary #s-difference{
    border-bottom: 1px solid #cecece;
    padding-bottom: 10px;
    margin-bottom: 8px;
}


#printd .docitem tfoot td.summary #discount_type{
    padding: 0;
    text-align: center;
}

#printd .docitem tfoot td.summary #discount_percent.v{
    display: inline-block;
    width: 58px;
    text-align: right;
}

#printd .docitem tfoot td.summary #discount_percent.h{
    display: none;
}

#printd .docitem tfoot td.summary #discount_amount.p{
    border: 0;
}

#printd .docitem tfoot td.summary #discount_amount.f{
    border: 1px solid #cecece;
    border-radius: 4px;
    padding: 4px;
    height: 28px;
}

#printd .docitem tfoot td.summary #wht_percent{
    width: 68px;
    text-align: left;
}

#printd .docitem tfoot td.summary{
    padding: 0;
}

#printd .docitem tfoot td.summary span.c2{
    width: 90px;
}

#printd .docitem tfoot td.summary span.c2 input[type="text"]{
    width: 100%;
}

#printd .docitem tfoot td.summary span.c3{
    width: 84px;
    text-align: left;
}

#printd .docitem tfoot td.summary span.c3 .currency{
    display: none;
}

#s-sub-total i.t1{
    display: block;
}

#s-sub-total i.t2{
    display: none;
}

#s-partials{
    display: block;
    width: 382px;
    margin-top: 8px !important;
    padding-top: 11px !important;
    border-top: 1px solid #cecece;
    text-align: left;
}

#s-partials .unpaid-amount{
    display: block !important;
    font-size: 0.95em;
    line-height: 24px;
    color: #646e7a;
}

#s-partials .r{
    display: block;
}

#s-partials input[type="text"]{
    border: 1px solid #cecece !important;
    border-radius: 4px !important;
    padding: 4px !important;
    height: 28px !important;
}

#s-partials input#partials_percent{
    width: 58px;
}

#printd .docitem tfoot #s-wht{
    border-top: 1px solid #cecece;
    margin-top: 12px;
    padding-top: 10px;
}

#printd .docitem tfoot #s-wht .wht.h,
#printd .docitem tfoot #s-payment-amount .wht.h{
    visibility: hidden;
}

#printd .docitem tfoot #s-wht .wht.v,
#printd .docitem tfoot #s-payment-amount .wht.v{
    visibility: visible;
}

#printd .docitem tfoot td.summary #vat_inc,
#printd .docitem tfoot td.summary #wht_inc{
    margin-right: 4px;
}

#printd .docsignature{
    position: absolute;
    bottom: 100px;
    width: calc(100% - 64px);
    page-break-inside: avoid;
}

#printd .docsignature .customer{
    float: left;
    width: 45%;
}

#printd .docsignature .company{
    float: right;
    width: 45%;
}

#printd .docsignature .on_behalf_of{
    text-align: center;
}

#printd .docsignature .name{
    float: left;
    width: 48%;
}

#printd .docsignature .date{
    float: right;
    width: 48%;
}

#printd .docsignature .l1{
    display: block;
    position: relative;
    height: 80px;
    border-bottom: 1px solid #000;
    text-align: center;
    margin-bottom: 4px;
}

#printd .docsignature .l1 .signature{
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 1px;
}

#printd .docsignature .l1 .signature img{
    display: inline-block;
    width: auto;
    height: 42px;
}

#printd .docsignature .l1 .approved_date{
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 1px;
}

#printd .docsignature .l2{
    height: 22px;
    display: block;
    text-align: center;
}

/*#printd_payment{
    display: block;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 80px;
}*/

.payment_record{
    line-height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.payment_record .payment_receive_method{
    float: left;
    width: 50%;
    border-right: 1px solid #ccc;
    padding: 16px;
}

.payment_record .total_pay{
    border-radius: 8px;
    position: relative;
    background: #f5fcf8;
    color: #4bc17a;
    display: block;
    width: 100%;
    text-align: right;
    font-size: 17px;
    padding: 8px;
    padding-bottom: 6px;
}

.payment_record .total_pay strong{
    font-size: 1.2em;
}

.payment_record .total_pay i{
    position: absolute;
    top: 20px;
    left: 10px;   
}

.payment_record .total_payment_amount{
    float: left;
    width: 50%;
    padding: 12px;
}

.payment_record .green{
    color: #4bc17a;
    font-size: 1.6em;
}

.payment_record .orange{
    color: #f47459;
    font-size: 1.6em;
}



.payment_record strong{
    font-weight: bold;
}

.payment_record table{
    width: 100%;
}

.payment_record table td{
    vertical-align: top;
}

.payment_record table td:nth-child(1){
    width: 50%;
}

.payment_record table td:nth-child(2){
    width: 50%;
    text-align: right;
}

.payment_record table td.issued_receipt{
    height: 64px;
    vertical-align: bottom;
}

#payment_header .receive_button,
.payment_record .issue_receipt_button{
    display: inline-block;
    width: 100px;
    line-height: 32px;
    border-radius: 12px;
}

#payment_header .receive_button:active,
.payment_record .issue_receipt_button:active{
    position: relative;
    top: 1px;
}

@media print {
    body{
        font-size: 11px;
        block-size: fit-content;
    }

    @page {
        /*margin: 22px 28px;*/
        /*margin-bottom: 12px;*/
        margin-top: 22px;
        margin-left: 28px;
        margin-right: 28px;
        padding: 0;
    }

    #default-navbar, #sidebar, #js-init-chat-icon, #js-rise-chat-wrapper, #dcontroller, #add_item_button{
        display: none !important;
    }

    #page-container, .scrollable-page, #content{
        display: block !important;
        overflow: visible !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    #printd{
        display: block;
        overflow: visible;
        padding: 0;
    }

    #printd .buttons{
        display: none !important;
    }

    #printd .docitem table{
        width: 100%;
        table-layout:auto;
    }

    #printd .docitem thead{
        display: table-row-group;
    }

    #printd .docitem thead td:last-child,
    #printd .docitem tbody td:last-child{
        display: none;
    }

    #printd .docitem tfoot{
        display: table-row-group;
    }

    #printd .docitem tfoot td.summary{
        padding-right: 0;
    }

    #printd .docitem tfoot td.summary p{
        line-height: 26px;
    }

    #printd .docitem tfoot td.summary span.c1{
        width: 120px;
        text-align: left;
    }

    #printd .docitem tfoot td.summary span.c2 input{
        width: 70px;
    }

    #printd .docitem tfoot td.summary span.c3{
        width: 30px;
    }

    #printd .docitem tfoot td.summary span.c3 .currency{
        display: inline-block;
    }

    #printd .docitem tfoot td.summary #discount_amount{
        border: 0 !important;
        padding: 0 !important;
        border-radius: 0 !important;
    }

    #s-sub-total-before-discount.v, #s-discount.v, #s-vat.v, #s-wht.v{
        display: block !important;
    }

    #s-sub-total-before-discount.h, #s-discount.h, #s-vat.h, #s-wht.h{
        display: none !important;
    }

    #s-sub-total i.t1.v,
    #s-sub-total i.t2.v{
        display: inline-block !important;
    }

    #s-sub-total i.t1.h,
    #s-sub-total i.t2.h{
        display: none !important;
    }

    #s-partials{
        display: none !important;
    }

    #printd .docitem tfoot #s-wht{
        margin-top: 10px;
        padding-top: 8px;
    }

    /*#printd .docitem tfoot td.summary #discount_percent,*/
    #printd .docitem tfoot td.summary #wht_percent{
        border: 0;
        text-align: left;
        height: 22px;
        line-height: 22px;
        padding: 0;
        padding-left: 4px;
        margin: 0;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }

    #printd .docitem tfoot td.summary #wht_percent{
        width: 40px;
    }

    #printd .docitem tfoot td.summary #vat_inc,
    #printd .docitem tfoot td.summary #wht_inc{
        display: none;
    }

    #printd .docitem tfoot td.summary #discount_percent,
    #printd .docitem tfoot td.summary #discount_type{
        display: none !important;
    }

}