@charset "utf-8";
	.NormalCharacterStyle10
{
	font-family : Tahoma;
	font-size : 7px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle7
{
	font-family : Tahoma;
	font-size : 7px;
	color : #F08A16;
	color : rgb(240, 138, 22);
}
.NormalCharacterStyle4
{
	font-family : Tahoma;
	font-size : 7px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle5
{
	font-family : Tahoma;
	font-size : 8px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle3
{
	font-family : Tahoma;
	font-size : 7px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle13
{
	font-family : Tahoma;
	font-size : 9px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle12
{
	font-family : Tahoma;
	font-size : 9px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle11
{
	font-family : Tahoma;
	font-size : 9px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle8
{
	font-family : Tahoma;
	font-size : 8px;
	color : #EF8914;
	color : rgb(239, 137, 20);
}
.NormalCharacterStyle6
{
	font-family : Tahoma;
	font-size : 8px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle2
{
	font-family : Tahoma;
	font-size : 7px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle9
{
	font-family : Tahoma;
	font-size : 8px;
	color : #EF8914;
	color : rgb(239, 137, 20);
}
.NormalCharacterStyle
{
	font-family : Tahoma;
	font-size : 7px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle1
{
	font-family : Tahoma;
	font-size : 7px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle15
{
	font-family : Tahoma;
	font-size : 9px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle20
{
	font-family : Tahoma;
	font-size : 12px;
	color : #F08A16;
	color : rgb(240, 138, 22);
}
.NormalCharacterStyle19
{
	font-family : Tahoma;
	font-size : 10px;
	color : #F08A16;
	color : rgb(240, 138, 22);
}
.NormalCharacterStyle14
{
	font-family : Tahoma;
	font-size : 9px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle16
{
	font-family : Tahoma;
	font-size : 10px;
	color : #F08A16;
	color : rgb(240, 138, 22);
}
.NormalCharacterStyle18
{
	font-family : Tahoma;
	font-size : 10px;
	color : #F08A16;
	color : rgb(240, 138, 22);
}
.NormalCharacterStyle17
{
	font-family : Tahoma;
	font-size : 10px;
	color : #F08A16;
	color : rgb(240, 138, 22);
}
